/* *******************************/
/* Below 1380px (Smaller desktops) */
/* *******************************/

@media (max-width: 86em) {
  .logo {
    height: 7rem;
    top: -9%;
  }

  .main-nav {
    padding-top: 2rem;
    height: 6rem;
  }

  .main-nav-list li a {
    font-size: 1.6rem;
    padding: 0rem 2rem 0 0;
  }

  .heading-primary {
    font-size: 4.2rem;
  }

  .container {
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .products-name {
    font-size: 1.6rem;
  }

  .section-features {
    padding-top: 4rem;
  }
}

/* *******************************/
/* Below 1200px (Landscape Tablets) */
/* *******************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px = 56.25% */
    font-size: 56.25%;
  }

  .heading-primary {
    font-size: 3.6rem;
  }

  .hero-btn,
  .hero-btn:link,
  .hero-btn:visited {
    font-size: 1.6rem;
    padding: 1.2rem 2.8rem;
    letter-spacing: 1.6px;
  }

  .hero {
    height: 95vh;
  }

  .products {
    column-gap: 4.4rem;
    row-gap: 3.8rem;

    padding-bottom: 3rem;
  }

  .container {
    max-width: 200rem;
    padding-left: 14rem;
    padding-right: 14rem;
    padding-top: 6.4rem;
  }

  .section-blog {
    padding-top: 0;
  }

  .section-footer {
    height: 26rem;
  }

  .footer {
    padding-left: 34rem;
    padding-right: 34rem;
    padding-top: 4rem;
    gap: 12rem;
  }

  .footer-logo {
    height: 8rem;
    padding-left: 3rem;
  }
}

/* *******************************/
/* Below 973px (Tablets) */
/* *******************************/

@media (max-width: 61em) {
  html {
    font-size: 44%;
  }

  .main-nav {
    padding-top: 3rem;
    height: 8rem;
  }

  .logo {
    height: 9rem;
    top: -7%;
  }

  .hero-text-box {
    left: 32%;
  }

  .heading-primary {
    font-size: 3.8rem;
    letter-spacing: 1.5px;
    padding-bottom: 2rem;
  }

  .products {
    column-gap: 3.8rem;
    row-gap: 3rem;

    padding-bottom: 3rem;
  }

  .container {
    max-width: 200rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 6.4rem;
  }

  .features {
    height: 14rem;
    width: 40rem;
  }

  .section-features {
    gap: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .info {
    line-height: 1.6rem;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
    font-weight: 300;
  }

  .features-title {
    font-size: 1.8rem;
    padding-bottom: 0.6rem;
  }

  .footer {
    padding-left: 26rem;
    padding-right: 26rem;
    gap: 8rem;
  }

  .footer-logo {
    height: 6rem;
    padding-left: 1.4rem;
  }

  .logo-col {
    gap: 4rem;
  }
}

/* *******************************/
/* Below 704px (Smaller Tablets) */
/* *******************************/

@media (max-width: 44em) {
  body {
    width: 103.9vw;
  }

  .hero-text-box {
    max-width: 55rem;
  }

  .heading-primary {
  }

  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .products {
    column-gap: 1rem;
    row-gap: 2rem;

    padding-bottom: 3rem;
  }

  .blog {
    column-gap: 4.2rem;
    padding-bottom: 2rem;
  }

  .section-features {
    gap: 4rem;
  }

  .features {
    height: 13rem;
    color: #fff;
    background-color: #444;
    width: 35rem;
    padding: 2rem;
  }

  .features-title {
    padding-top: 0.6rem;
    font-weight: 700;
  }

  .info {
    font-size: 1.4rem;
  }

  .footer {
    gap: 4rem;
  }
}

/* *******************************/
/* Below 550px (Phones) */
/* *******************************/

@media (max-width: 34em) {
  body {
    width: 125.5vw;
  }

  .logo {
    height: 12rem;
    left: 50%;
    top: 0;
  }

  .main-nav {
    padding-top: 5rem;
    height: 13rem;
  }

  .main-nav-list li a {
    font-size: 2rem;
  }

  .hero {
    background-size: auto;
    height: 60vh;
  }

  .hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .heading-primary {
    font-size: 6rem;
    padding-bottom: 6rem;
    letter-spacing: 3px;
    line-height: 6.4rem;
  }

  .hero-btn,
  .hero-btn:link,
  .hero-btn:visited {
    font-size: 4rem;
    padding: 3rem 6rem;
    letter-spacing: 3px;
  }

  .subheading {
    font-size: 3.2rem;
  }

  .tertiary-heading a {
    font-size: 2.4rem;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5.6rem;
    row-gap: 4.8rem;

    padding-bottom: 3rem;
  }

  .products-name {
    font-size: 2.4rem;
  }

  .products-lowest {
    font-size: 2rem;
    color: #999;
    letter-spacing: -0.05rem;
  }

  .products-price {
    font-size: 3rem;
    padding-top: 1rem;
    font-weight: 600;
    color: #333;
  }

  .blog-name {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }

  .blog-date {
    font-size: 1.4rem;
    padding-top: 0.8rem;
  }

  .features-title {
    font-size: 1.8rem;
    padding-bottom: 0.8rem;
    letter-spacing: 0.4px;
    font-weight: 700;
  }

  .info {
    line-height: 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
  }

  .section-footer {
    height: 40rem;
  }

  .footer {
    padding-top: 8rem;
  }

  .footer-heading {
    font-size: 2.4rem;
    padding-bottom: 3rem;
  }

  .footer-link {
    font-size: 2rem;
  }

  .footer-logo {
    height: 12rem;
    padding-left: 0rem;
    padding-right: 2rem;
  }

  .social-icon {
    height: 3rem;
    width: 3rem;
  }

  .copyright {
    font-size: 1.6rem;
  }
}
