/* 
--- 01 TYPOGRAPHY SYSTEM

Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line Heights


- Letter spacing

--- 02 COLORS

https://coolors.co/palette/143601-1a4301-245501-538d22-73a942-aad576

- Primary: 
- Tints: 
- Shades: 
- Accents:
  #73A942
- Greys:
  #f5f3f4
  #333
  #222


--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

--- 09 INSPIRATION

https://www.nike.com/ca/

https://www.flightclub.com/

https://stockx.com/

Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px; */
  font-size: 62.5%;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

/* ***********************/
/*        Header         */
/* ***********************/

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  background-color: #f5f3f4;
}

.header {
  position: relative;
  margin: 0 auto;
  background-color: #f7f7f7;
  z-index: 1;
}

.logo {
  height: 9.8rem;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -4.9rem;
}

/* ***********************/
/*       Navigation      */
/* ***********************/

.main-nav {
  padding-top: 2.8rem;
  box-shadow: 0 -7px 10px 5px rgba(0, 0, 0, 0.5);
  height: 10rem;
}

.main-nav-list {
  list-style: none;
  text-align: right;
  padding-left: 6.4rem;
  padding-right: 6.4rem;
}

.main-nav-list li {
  float: none;
  display: inline-block;
}

.main-nav-list li:nth-child(1) {
  float: left;
}

.main-nav-list li:nth-child(2) {
  float: left;
}

.main-nav-list li:nth-child(3) {
  float: left;
}

.main-nav-list li a {
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  display: block;
  padding: 1rem 2rem 0 0;
  transition: all 0.3s;
  letter-spacing: 1px;
  word-spacing: -1px;
  text-transform: uppercase;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #777;
}

.nav-icon {
  display: inline-block;
  font-size: 2.8rem;
}

/* ***********************/
/*          Hero         */
/* ***********************/

.section-hero {
  max-width: 200rem;
  color: #f7f7f7;
}

.hero {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(37, 37, 37, 0.73)
    ),
    url(../img/hero-cropped.jpg);
  background-size: cover;
  position: relative;
  background-position: center center;
  height: 90vh;
}

.hero-text-box {
  position: absolute;
  top: 51%;
  left: 28%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  font-size: 5.2rem;
  padding-bottom: 4rem;
  letter-spacing: 1.5px;
}

.hero-btn,
.hero-btn:link,
.hero-btn:visited {
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  color: #fff;
  background-color: #222;
  border-radius: 20px;
  transition: all 0.3s;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: #333;
}

/* ***********************/
/*        Products       */
/* ***********************/

.container {
  max-width: 200rem;
  padding-left: 28rem;
  padding-right: 28rem;
  padding-top: 6.4rem;
}

.section-products {
  color: #333;
  background-color: #f5f3f4;
}

.headings {
  display: flex;
  justify-content: space-between;
}

.subheading {
  font-size: 2.4rem;
  color: #333;
  margin-bottom: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.tertiary-heading a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #555;
  transition: all 0.3s;
}

.tertiary-heading a:hover,
.tertiary-heading a:active {
  color: #888;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5.6rem;
  row-gap: 4.8rem;

  padding-bottom: 3rem;
}

.products a {
  text-decoration: none;
}

.products-item {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 36rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.075);
  transition: all 0.4s;
}

.products-item:hover,
.products-item:active {
  transform: translateY(-0.75rem);
  box-shadow: 0 3.2rem 6.2rem rgba(0, 0, 0, 0.06);
}

.products-img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.products-name {
  font-size: 1.8rem;
  color: #333;
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding: 3rem 0 1.8rem 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.products-lowest {
  font-size: 1.4rem;
  color: #999;
  letter-spacing: -0.05rem;
}

.products-price {
  font-size: 2.4rem;
  padding-top: 1rem;
  font-weight: 600;
  color: #333;
}

.products-info {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2rem;
}

/* ***********************/
/*          Blog         */
/* ***********************/

.section-blog {
  padding-top: 3rem;
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5.6rem;
  row-gap: 4.8rem;

  padding-bottom: 3rem;
}

.blog a {
  text-decoration: none;
  color: #333;
  display: block;
}

.blog-card {
  background-color: #fff;
  height: 34rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.075);
  transition: all 0.4s;
}

.blog-card:hover,
.blog-card:active {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.2rem rgba(0, 0, 0, 0.06);
}

.blog-img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.blog-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1.4rem;
}

.blog-name {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.blog-date {
  font-size: 1.2rem;
  padding-top: 0.4rem;
}

/* ***********************/
/*        Features       */
/* ***********************/

.section-features {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.features {
  height: 12rem;
  color: #fff;
  background-color: #444;
  width: 40rem;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.features-icon {
  height: 28px;
  width: 28px;
}

.features-title {
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
  letter-spacing: 0.4px;
  font-weight: 700;
}

.features-text {
  padding-bottom: 0.4rem;
}

.info {
  line-height: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}

.features-link {
  color: #f7f7f7;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.features-link:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

/* ***********************/
/*         Footer        */
/* ***********************/

.section-footer {
  background-color: #222;
  height: 30rem;

  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.15);
}

.footer {
  max-width: 200rem;
  padding-left: 28rem;
  padding-right: 28rem;
  padding-top: 6.4rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16rem;
}

.footer-logo-alt {
  display: block;
  /* padding-top: 2rem;
  padding-left: 4rem; */

  /* Changes logo from grey to white */
  -webkit-filter: invert(1) contrast(500%);
}

.footer-heading {
  font-size: 1.8rem;
  color: #f7f7f7;
  padding-bottom: 3rem;
  text-transform: uppercase;
}

.footer-nav {
  list-style-type: none;
  width: 16rem;
}

.footer-link {
  font-size: 1.4rem;
  color: #aaa;
  text-decoration: none;
}

.footer-link:hover {
  color: #f7f7f7;
}

.footer-nav li {
  padding-bottom: 1.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  height: 12rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1rem;
  line-height: 1.6;
  color: #aaa;
  margin-top: 1rem;
  text-align: center;
}
